body {
  padding: 0;
  margin: 0;
}

.outer {
  margin: 50px;
  cursor: pointer;
}

.background {
  display: none;
}

.res_nav {
  display: none;
}

.button {
  border: 1px solid #FF00FF;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FF00FF), color-stop(50%, white));
  background: linear-gradient(to right, #FF00FF 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.button:hover {
  background-position: left bottom;
}

#bars {
  display: none;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #FF00FF;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  display: block;
  border-radius: 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .res_nav {
  display: none;
}

.nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
  width: 30%;
}

.nav .logo img {
  width: auto;
  height: 10vh;
  margin-right: 2%;
}

.nav .logo img:hover {
  -webkit-animation: ease-in-out aimate 2s;
          animation: ease-in-out aimate 2s;
  height: 15vh;
  width: auto;
}

.nav .logo h2 {
  font-size: 2rem;
  color: #FF00FF;
  font-weight: bold;
}

.nav nav .nav-ul {
  padding-left: 200%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav nav .nav-ul .li a:hover {
  color: white;
}

.nav nav .nav-ul a {
  color: #FF00FF;
  text-decoration: none;
}

@-webkit-keyframes aimate {
  from {
    width: auto;
    height: 10vh;
  }
  to {
    width: auto;
    height: 15vh;
  }
}

@keyframes aimate {
  from {
    width: auto;
    height: 10vh;
  }
  to {
    width: auto;
    height: 15vh;
  }
}

.front {
  text-align: center;
}

.front h4 {
  font-weight: lighter;
}

.skills {
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coding {
  margin: 1%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f5f5f59d;
  padding: 2%;
  height: 70vh;
}

.coding .h2 {
  font-weight: normal;
}

.coding img {
  width: 50%;
  height: auto;
}

.featured-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-work a {
  color: #FF00FF;
  text-decoration: none;
}

.featured-work a:hover {
  color: white;
}

.featured-work h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
}

.featured-work .work-1, .featured-work .work-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2%;
}

.featured-work .work-1 .img-div, .featured-work .work-2 .img-div {
  width: 65%;
  height: 70vh;
  background-color: #f5f5f59d;
}

.featured-work .work-1 img, .featured-work .work-2 img {
  width: 100%;
  padding: 2%;
  height: 70vh;
  background-color: #f5f5f59d;
}

.featured-work .work-1 .para, .featured-work .work-2 .para {
  padding: 2%;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.featured-work .work-1 .para p, .featured-work .work-2 .para p {
  text-align: left;
  color: rgba(128, 128, 128, 0.932);
}

.featured-work .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured-work .outer .button {
  height: 5vh;
  width: 10%;
}

hr {
  margin: 0% 5%;
}

.Testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 2% 0%;
}

.Testimonials .testimonial-3 .testimonial-img {
  width: 40%;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .testimonial-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .testimonial-img {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.testimonial .testimonial-img img {
  width: 30%;
  border-radius: 50%;
}

.testimonial .test-para {
  background-color: #f5f5f59d;
  padding: 3%;
  margin: 3%;
}

.testimonial .test-para h2 {
  text-align: center;
}

.testimonial .test-para p {
  text-align: left;
}

.color {
  background-color: #FF00FF;
  height: 1rem;
}

footer {
  background-color: #161616c2;
  color: white;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  overflow-x: hidden;
}

footer .intro {
  width: 30%;
  padding: 5%;
}

footer .intro img {
  width: 80%;
  padding-bottom: 4%;
}

footer .social {
  width: 30%;
  padding: 5%;
  padding-top: 10%;
  text-align: left;
}

footer .website {
  width: 30%;
  padding: 5%;
  padding-top: 10%;
  text-align: left;
}

footer a, footer button {
  color: white;
  -webkit-text-decoration-color: #FF00FF;
          text-decoration-color: #FF00FF;
}

footer a:hover, footer button:hover {
  text-decoration: none;
  color: white;
  border: none;
}

footer button {
  background-color: rgba(255, 255, 255, 0);
  -webkit-text-decoration: #FF00FF;
          text-decoration: #FF00FF;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  border: none;
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}

.main_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3%;
}

.main_icon .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_icon .icons i {
  font-size: 2rem;
}

.main_icon .icons i, .main_icon .icons input, .main_icon .icons button {
  margin: 1%;
}

.main_icon .icons img {
  width: 2rem;
}

.main_icon .icons .btn {
  border: 1px solid #FF00FF;
  color: #FF00FF;
  background-color: white;
}

.main_icon .icons .btn:hover {
  color: white;
  background-color: #FF00FF;
  border: none;
}

.class_up {
  color: white;
  background-color: #161616c2;
  visibility: hidden;
  width: 5%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: fixed;
  top: 80%;
  left: 90%;
}

.class_up .up {
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 786px) {
  #bars {
    display: block;
    color: #FF00FF;
    margin-left: 85%;
    font-size: 1.5rem;
    margin-bottom: 3%;
    position: absolute;
    text-decoration: none;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav nav {
    display: none;
  }
  .background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.212);
    display: none;
  }
  .res_nav {
    color: #FF00FF;
    /*margin-left: 85%;
        margin-top: -10%;*/
    width: 100%;
    height: 100vh;
    position: fixed;
    margin-top: 58%;
    margin-left: 94%;
    background-color: rgba(0, 0, 0, 0.199);
    display: none;
  }
  .res_nav .res-nav {
    width: 60%;
    height: 100vh;
    padding-top: 20%;
  }
  .res_nav .close {
    float: right;
    padding: 0%;
    padding-left: 30%;
    font-size: 1.5rem;
    margin-top: -6%;
  }
  .res_nav .option {
    float: right;
    border-left: 2px solid #FF00FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: -8%;
    margin-left: -30%;
    position: absolute;
    background-color: white;
  }
  .res_nav .option ul {
    text-decoration: none;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .res_nav .option ul li {
    padding: -10%;
    margin: -10%;
  }
  .res_nav .option ul .li a:hover {
    color: white;
  }
  .res_nav #bars {
    font-size: 1.5rem;
  }
  .res_nav a {
    color: #FF00FF;
    text-decoration: none;
  }
  .featured-work {
    text-align: center;
  }
  .featured-work .work-1, .featured-work .work-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .featured-work .work-1 .para, .featured-work .work-2 .para {
    text-align: center;
    width: 80%;
  }
  .featured-work .work-1 .para p, .featured-work .work-2 .para p {
    text-align: center;
  }
  .featured-work .work-1 .img-div, .featured-work .work-2 .img-div {
    width: 100%;
  }
  .Testimonials .testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Testimonials .testimonial-3 img {
    width: 80%;
  }
  .class_up {
    border-radius: 100%;
  }
}

.display {
  display: block;
}

.none {
  display: none;
}

@media only screen and (max-width: 425px) {
  .res_nav {
    margin-top: 107%;
    margin-left: 66%;
  }
  #close {
    padding-top: 5%;
    padding-right: 5%;
  }
  .front {
    margin-top: 5%;
  }
  .skills {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skill {
    width: 90%;
    margin: 5% 5%;
  }
  hr {
    margin-top: 5%;
  }
  .class_up {
    width: 10%;
    margin-right: 20%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .intro, footer .social {
    width: 100%;
  }
  footer .website {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .res_nav {
    margin-top: 121%;
    margin-left: 58%;
  }
  #close {
    padding-top: 5%;
  }
}

@media only screen and (max-width: 325px) {
  #close {
    padding-top: 10%;
  }
  .res_nav {
    margin-top: 140%;
    margin-left: 47%;
  }
}
/*# sourceMappingURL=style.css.map */